
<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/styleMain.css">
<link rel="stylesheet" href="/stylesheets/asesoriasShow.css">
</head>
<body>

    <%- include('partials/navbarAsesores') %>
    <div class="space"></div>
    
    <div class="container text-center ">
        <div class="row align-items-center" style="height: 60vh;">
            <h1> Confirmación </h1>
            <div class="col-5">
                
                <h2> <%= asesoria.nombre %> </h2>
                <p>Horario: <%= asesoria.horario %></p>
                <p>Nombre del asesor: <%= asesoria.tutor %></p>
                <p>Contacto: <%= asesoria.contacto %></p>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5 text-start">
                <h2>Envía un mensaje</h2>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Escribe un mensaje breve al asesor</label>
                    <textarea class="form-control" type="text" id="mensaje" rows="2"></textarea>
                    <a href="#" class="boton">Enviar</a>
                </div>
            </div>
        </div>
    </div>

<script integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

