<%- include('partials/head') %>
    <link rel="stylesheet" href="stylesheets/styleMain.css">
</head>
<body>
  
    <%- include('partials/navbarAsesores') %>

    <!-- Hero section -->
    <section class="hero-section">
      <div class="space">

      </div>
      <div class="container d-flex align-items-center justify-content-center text-white">
        <div class="row w-100">
          <div class="col-1 test"></div>
          <div class="col-6 d-flex flex-column align-items-center justify-content-center first-col test">
            <h1>Asesor</h1>
            <img class="imagen" src="<%= user.imgURL%>" alt="Imagen de <%= user.user %>">
            <p class="text1"><%= user.user %></p>
          </div>
          <div class="col-3 d-flex flex-column align-items-start justify-content-center flex-col second-col test">
            <div class="space"></div>
            <div class="d-flex about">
              <p class="text1"><strong>Correo:&nbsp;</strong></p><span></span><p class="text1"><%= user.correo %></p>
            </div>
            <div class="d-flex about">
              <p class="text1"><strong>Telefono:&nbsp;</strong></p><span></span><p class="text1"><%= user.telefono %></p>
            </div>
            <div class="d-flex about">
              <p class="text1"><strong>CURP:&nbsp;</strong></p><span></span><p class="text1"><%= user.curp %></p>
            </div>
            <div class="d-flex about">
              <p class="text1"><strong>Áreas:&nbsp;</strong></p><span></span><p class="text1"><%= user.area %></p>
            </div>
          </div>    
          <div class="col-2 test"></div>                
        </div>
      </div>
    </section>
    <!-- End Hero section -->

    <!--Bootstrap Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

